exercicio01/bin/Debug/net5.0/exercicio01.deps.json
exercicio01/bin/Debug/net5.0/exercicio01.dll
exercicio01/bin/Debug/net5.0/exercicio01.exe
exercicio01/bin/Debug/net5.0/exercicio01.pdb
exercicio01/bin/Debug/net5.0/exercicio01.runtimeconfig.dev.json
exercicio01/bin/Debug/net5.0/exercicio01.runtimeconfig.json
exercicio01/bin/Debug/net5.0/ref/exercicio01.dll
